spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/campus_booking
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update         # lets dev iteration work on same DB
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    user:
      name: ${ADMIN_USER:admin}
      password: ${ADMIN_PASSWORD:}
      roles: ADMIN

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when_authorized
