spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/campus_booking
    username: postgres
    password: onemoretry111

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update         # lets dev iteration work on same DB
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    user:
      name: admin
      password: admin
      roles: ADMIN
